	.header{
		background:red; 
		grid-area: header;
	}

	.mainbar{
		background:orange; 
		grid-area: mainbar;
	}

	.menu{
		background:green; 
		grid-area: menu
	}

	.content1{
		background:yellow; 
		grid-area: content;
	}

	.footer{
		background: pink;
		grid-area: footer
	}
	.grid-container {
		text-align: center;
 	 	display: grid;
 	 	grid-template-areas:
 	 	'header header header'
 	 	'mainbar mainbar mainbar'
 	 	'menu content content'
 	 	'footer footer footer'
	}
